/* desktop view */
#content-desktop {display: block;}
#content-mobile {display: none;}

@media screen and (max-width: 500px) {

#content-desktop {display: none;}
#content-mobile {display: block;}

}

@media (min-width : 500px){
  body {
    background-color: white;
  }

  table.title-projects{
    margin-left: 25%;
  }


  table.title-projects h1{
    margin-top: 90px;
    font-size: 40px;
    text-align: left;
  }

  table.floating11-education{
    table-layout: auto;
    width: 90%;
    background-color: white;
    box-shadow: 0 0 10px #a9a9a9;
    border-radius: 5px;
    margin-top: 0px;
    margin-left: 5%;
    margin-right: 5%;
    text-align: left;
    font-size: 15px;
  }

  table.floating11-education h4{
    margin-left: 210px;
  }

  table.floating11-education h5{
    margin-left: 200px;
      font-size: 18px;
  }


  table.floating12-education h4{
    margin-left: 210px;
  }
  table.floating12-education h5{
    margin-left: 220px;
    font-size: 18px;
  }

  table.floating12-education{
    table-layout: auto;
    width: 90%;
    background-color: white;
    box-shadow: 0 0 10px #a9a9a9;
    border-radius: 5px;
    margin-top: 30px;
    margin-left: 5%;
    margin-right: 5%;
    text-align: left;
    font-size: 15px;
  }

/* first button, second table for Projects page */
  .button-projects12{
    margin-left: 250px;
    margin-bottom: 10px;
  }


  h1 {
    color: black;
    text-align: center;
  }

  h3{
    color: black;
    text-align: left;
  }

  first-header {
    display: hide;
  }

  table.floating {
    table-layout: auto;
    width: 70%;
    background-color: white;
    box-shadow: 0 0 10px #a9a9a9;
    border-radius: 5px;
    margin-right: 20px;
    margin-top: 70px;
    margin-bottom: 10px;
    float: right;
    text-align: center;

  }


  table.second-table {
    table-layout: auto;
    width: 70%;
    background-color: white;
    box-shadow: 0 0 10px #a9a9a9;
    border-radius: 5px;
    margin-right: 20px;
    margin-top: 70px;
    float: right;
    margin-bottom: 10px;
  }

  table.third-table {
    table-layout: auto;
    width: 70%;
    background-color: white;
    box-shadow: 0 0 10px #a9a9a9;
    border-radius: 5px;
    margin-right: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    float: right;
  }

  table.fourth-table{
    table-layout: auto;
    width: 70%;
    background-color: white;
    box-shadow: 0 0 10px #a9a9a9;
    border-radius: 5px;
    margin-right: 20px;
    margin-top: 10px;
    margin-bottom: 100px;
    float: right;
  }


  figure {
      padding: 10px;
      display: inline-block;
      border-radius: 5px;
      margin: 20px; /* adjust as needed */
      width: 20%;
      box-shadow: 0 0 15px #a9a9a9;
      position: fixed;
      background-color: white;
  }

  img {
    width: 200px;
    height: auto;
  }

  figure img {
      vertical-align: top;
      width: 100%;
      margin-top: 10px;
  }



  table.footer-table{

    width: 100%;
    background-color: white;
    box-shadow: 0 0 8px #a9a9a9;
    border-radius: 8px;
    bottom: 0px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    position: fixed;
    font-size: 13px;
  }

  .fa:hover {
    opacity: 1;
    color: white;
    text-decoration-line: none;
  }


  .fa-linkedin {
    background: #007bb5;
    color: white;
    text-align: center;
    text-decoration: none;
  }
  .fa-facebook {
    background: #3B5998;
    color: white;

  }

  .fa {
    padding: 10px;
    font-size: 25px;
    width: 40px;
    height: 40px;
    text-align: center;
    text-decoration: none;
    align-self: center;
    margin: 10px;
    margin-left: 5%;
  }

/* box layout for John on education page */
  table.john-education-box{
    table-layout: auto;
    width: 90%;
    background-color: white;
    box-shadow: 0 0 10px #a9a9a9;
    border-radius: 5px;
    margin-top: 100px;
    margin-left: 5%;
    margin-right: 5%;
    text-align: left;
  }

/* box layout for Travis on education page */
  table.travis-education-box{
    table-layout: auto;
    width: 90%;
    background-color: white;
    box-shadow: 0 0 10px #a9a9a9;
    border-radius: 5px;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 50px;

  }
/* image for John's box on education page */
  table.john-education-box img{
    margin-left: 5px;
    vertical-align: middle;
    margin-right: 20px;
    margin-top: 20px;
    margin-bottom: 10px;

  }

/* image for Travis' box on education page */
  table.travis-education-box img{
    margin-left: 5px;
    vertical-align: middle;
    margin-right: 20px;
    margin-top: 20px;
    height: 30%;
    margin-bottom: 10px;
  }

/* title for John's education box */
  table.john-education-box p{
    color: black;
    font-size: 30px;
    text-decoration: underline;
  }

/* projects page, first button for first table */
  .btn.btn-outline-primary.button-projects11{
      margin: 0 auto;
      margin-left: 250px;
    }

/* Education page, projects button */
.btn.btn-outline-primary.button-projects1{
    margin: 0 auto;
    margin-left: 60px;
  }

  .button-blog1{
    margin-left: 70px;
    margin-top: 0px;
  }

  .button-projects2{
    margin: 0 auto;
    margin-left: 60px;
  }
  .button-blog2{
    margin-left: 70px;
    margin-top: 0px;
  }

/* title for Travis' education box */
  table.travis-education-box p{
    color: black;
    font-size: 30px;
    text-decoration: underline;
  }

/* font inside box (not title) for Travis' education box */
  table.travis-education-box ul{
    font-size: 13px;
    list-style-type: none;
  }

/* font inside box (not title) for John's education box */
  table.john-education-box ul{
    list-style-type: none;
    font-size: 13px;

  }

  .navbar-header-menu {
    float: left;
}

/* end desktop view */

}
/* mobile view start */
@media (max-width : 500px){
  body {
    background-color: black;
  }

  h1 {
    color: white;
    text-align: center;
  }

  h2 { text-align: center;
      color: white;
  }

  h3{
    color: white;
    text-align: center;
  }
  table.floating1 {
    table-layout: auto;
    width: 90%;
    background-color: #6b6b6b;
    box-shadow: 0 0 10px #a9a9a9;
    border-radius: 5px;
    margin-top: 12px;
    margin-bottom: 10px;
    margin-left: 30px;
    text-align: center;
  }
  table.floating {
    table-layout: auto;
    width: 90%;
    background-color: #6b6b6b;
    box-shadow: 0 0 10px #ffffff;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: right;
  }
  table.second-table {
    table-layout: auto;
    width: 90%;
    background-color: #6b6b6b;
    box-shadow: 0 0 10px #a9a9a9;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  table.third-table {
    table-layout: auto;
    width: 90%;
    background-color: #6b6b6b;
    box-shadow: 0 0 10px #ffffff;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  table.fourth-table {
    table-layout: auto;
    width: 90%;
    background-color: #6b6b6b;
    box-shadow: 0 0 10px #ffffff;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .da {
    font-size: 25px;
    width: 40px;
    height: 40px;
    text-align: right;
    text-decoration: none;
    color: white;
  }

  .da:hover {
    opacity: 1;
    color: white;
    text-decoration-line: underline;
  }

  table.floating1-education{
    table-layout: auto;
    width: 90%;
    background-color: white;
    box-shadow: 0 0 10px #a9a9a9;
    border-radius: 5px;
    margin-top: 100px;
    margin-left: 5%;
    margin-right: 5%;
    text-align: left;
  }

  table.floating2-education{
    table-layout: auto;
    width: 90%;
    background-color: white;
    box-shadow: 0 0 10px #a9a9a9;
    border-radius: 5px;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 50px;
    margin-bottom: 100px;

  }


}
/* mobile view end */
